<router-outlet></router-outlet>
<div class="mf-init">
    <div class="pcoded"
    [attr.nav-type]="navType"
    [attr.theme-layout]="themeLayout"
    [attr.layout-type]="layoutType"
    [attr.vertical-placement]="verticalPlacement"
    [attr.vertical-layout]="verticalLayout"
    [attr.pcoded-device-type]="deviceType"
    [attr.vertical-nav-type]="verticalNavType"
    [attr.vertical-effect]="verticalEffect"
    [attr.vnavigation-view]="vNavigationView"
    (window:resize)="onResize($event)">
      
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
        <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">
          <div class="pcoded-wrapper">
            <div class="pcoded-content">
              <div class="pcoded-inner-content">
                <div class="main-body">
                  <div class="page-wrapper">
                    <div class="page-body">
                      <app-card>
                        <div *ngIf="buscarPermiso(permiso_documento_factura) || buscarPermiso(permiso_documento_boleta) || buscarPermiso(permiso_documento_nota_credito)
                  || buscarPermiso(permiso_documento_nota_debito) || buscarPermiso(permiso_documento_busqueda) || buscarPermiso(permiso_documento_comunicacion_baja)" >
          <h4>Facturación</h4>
          <div class="row">
              <!-- {{permiso_documento_factura}} -->
              <div *ngIf="buscarPermiso(permiso_documento_factura)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./documentos/factura']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-papers" ngbTooltip="Factura"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Factura</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_documento_boleta)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./documentos/boleta']" id="0000000302_dvMenuInicioBoleta">
                      <div class="">
                          <i class="icofont icofont-5x icofont-page" ngbTooltip="Boleta"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Boleta</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_documento_nota_credito)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./documentos/notacredito']">
                      <div class="">
                          <i class="icofont icofont-notebook icofont-5x" ngbTooltip="Nota de Crédito"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Nota de Crédito</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_documento_nota_debito)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a  [routerLink]="['./documentos/notadebito']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-notepad" ngbTooltip="Nota de Débito"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Nota de Débito</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_documento_busqueda)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./documentos/busqueda']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-binoculars" ngbTooltip="Búsqueda de Documentos"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Búsqueda de Documentos</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_documento_comunicacion_baja)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                      <!-- https://erpperu.sreasons.com/admin/documentos/cmbaja -->
                  <a [routerLink]="['./documentos/cmbaja']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-bin" ngbTooltip="Comunicación de Baja"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Comunicación de Baja</label>
                  </a>
              </div>
          </div>
      </div>
      <div *ngIf="buscarPermiso(permiso_configuracion_almacen) || buscarPermiso(permiso_configuracion_item) || buscarPermiso(permiso_configuracion_serie)
                  || buscarPermiso(permiso_configuracion_teminales)">
          <h4>Mantenimiento </h4>
          <div class="row">
             <!-- <div class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="[' ']"> 
                      <div class="">
                          <i class="icofont icofont-5x icofont-gears" ngbTooltip="Sucursales"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Sucursales</label>
                  </a>
              </div>-->
              <div *ngIf="buscarPermiso(permiso_configuracion_almacen)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./logisconfig/almacenes']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-gear" ngbTooltip="Almacenes"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Almacenes</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_configuracion_item)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./items/items']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-automation" ngbTooltip="Ítems"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Ítems</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_configuracion_serie)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./configuraciones/serie']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-tools" ngbTooltip="Series"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Series</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_configuracion_teminales)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./ventas/terminales']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-site-map" ngbTooltip="Terminales"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Terminales</label>
                  </a>
              </div>
             <!-- <div class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="[' ']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-pay" ngbTooltip="Método de Pago"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Método de Pago</label>
                  </a>
              </div>-->
          </div>
      </div>
      <div *ngIf="buscarPermiso(permiso_centa_punto_venta) || buscarPermiso(permiso_centa_lista_precio) || buscarPermiso(permiso_centa_estado_caja)">
          <h4>Punto de Venta </h4>
          <div class="row">
              <div *ngIf="buscarPermiso(permiso_centa_punto_venta)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./ventas/apertura']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-shopping-cart" ngbTooltip="Punto de Venta"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Punto de Venta</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_centa_lista_precio)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./items/precios']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-numbered" ngbTooltip="Lista de Precios"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Lista de Precios</label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_centa_estado_caja)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./ventas/estadocaja']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-verification-check" ngbTooltip="Estado de Caja"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Estado de Caja</label>
                  </a>
              </div>
          </div>
      </div>
      <div *ngIf="buscarPermiso(permiso_logistica_ingreso) || buscarPermiso(permiso_logistica_salida) || buscarPermiso(permiso_logistica_traslado)">
          <h4>Almacén</h4>
          <div class="row">
              <div *ngIf="buscarPermiso(permiso_logistica_ingreso)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./movimientos/ingresos']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-inbox" ngbTooltip="Ingreso"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Ingreso </label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_logistica_salida)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./movimientos/salidas ']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-long-drive" ngbTooltip="Salida"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Salida </label>
                  </a>
              </div>
              <div *ngIf="buscarPermiso(permiso_logistica_traslado)" class="text-center col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                  <a [routerLink]="['./movimientos/traslados']">
                      <div class="">
                          <i class="icofont icofont-5x icofont-map-pins" ngbTooltip="Traslado"></i>
                          <samp> </samp>
                      </div>
                      <label for="">Traslado </label>
                  </a>
              </div>
          </div>
      </div>
                      </app-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>