.mf-init {
  height: calc(100vh - 80px);
  overflow-y: auto;
    .icofont-binoculars , .icofont-gears, .icofont-map-pins{
        color: #2511dd;
      }
    
      .icofont-bin , .icofont-gear-alt, .icofont-inbox, .icofont-tools{
        color: #D80707;
      }
    
      .icofont-papers, .icofont-site-map, .icofont-shopping-cart, .icofont-long-drive{
        color: #1B9F07;
      }
      .icofont-page{
        color: #F5F52D;
      }
    
      .icofont-notebook, .icofont-automation, .icofont-verification-check{
        color: #F6900B;
      }
    
      .icofont-notepad, .icofont-gear, .icofont-numbered{
        color: #B70594;
      }
      .icofont-pay {
          color: #B05E0C;
      }
}